.cardColor {
    background-color: #212121
}

.MuiLinearProgress-barColorPrimary {
    background-color: #1DB954 !important
}

.MuiLinearProgress-colorPrimary {
    background-color: #212121 !important
}

.whiteText {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF
}

.md-form input[type='text']:focus:not([readonly]) {
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 0 0 #1DB954 !important;
    border-bottom: 1px solid #1DB954 !important;
    font-size: large;
}

.md-form input[type='text']:focus:not([readonly])+label {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.md-form input[type='text']:focus {
    color: white
}

.md-form label {
    font-family: 'Montserrat' !important;
}

.card-container{
    width: 20rem;
    height: 40rem;
}
.card-container {
    perspective: 75rem;
}