
@media (max-width: 500px) {
  .spotifyHeading {
    display: none;
    color:rgb(209, 98, 98)
  }
  .logout{
    display:none;
  }
}

@media (min-width: 501px) {
  .spotifyHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #1DB954
  }
  
}

.logout{
  position:fixed;
  right:1rem;
  top:0.5rem;
}