.front,
.back {
  width: 20rem;
  height: 40rem;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}

.buttonClass{
  background-color: #1DB954;
  color: #ecf0f1;
  border-radius: 66px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 32px;
  box-shadow: none;
  border: none;
}
.buttonClass:focus{
  outline: #ecf0f1
}
.buttonClass:active { 
  transform: scale(0.9); 
}

.back {
  color: #1DB954 
}

.back {
  transform: rotateY(180deg);
}

.flipped .front {
  transform: rotateY(-180deg) !important;
}

.flipped .back {
  transform: rotateY(0deg) !important;
}
